# Python bytecode files
*.pyc
*.pyo
__pycache__

# Virtual environment directory
venv/

# IDE files
.vscode/
.idea/

# Distribution/Packaging
*.egg-info/
dist/
build/

# Environment files (sensitive data)
.env
